################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.exe
*.pdb
/.vs/BluntEditor/v15/Server/sqlite3
/.vs/BluntEditor/v15
/BluntEditor/bin/Debug/example.txt
