/BluntEditor/bin/Debug/BluntEditor.exe
/BluntEditor/bin/Debug/BluntEditor.pdb
/BluntEditor/bin/Release/BluntEditor.exe
/BluntEditor/bin/Release/BluntEditor.exe.config
/BluntEditor/obj/x86/Debug/BluntEditor.csproj.CoreCompileInputs.cache
/BluntEditor/obj/x86/Debug/BluntEditor.csproj.FileListAbsolute.txt
/BluntEditor/obj/x86/Debug/BluntEditor.exe
/BluntEditor/obj/x86/Debug/BluntEditor.pdb
/BluntEditor/obj/x86/Release/BluntEditor.csproj.CoreCompileInputs.cache
/BluntEditor/obj/x86/Release/BluntEditor.csproj.FileListAbsolute.txt
/BluntEditor/obj/x86/Release/BluntEditor.csprojAssemblyReference.cache
/BluntEditor/obj/x86/Release/BluntEditor.exe
